<section class="contact w9 m-auto" id="contact">
    <div class="section-title text-big">contact</div>
    <div class="contact-content row">

        <div class="col-5 contact-text">
            <div class="labc">
                <p>Email:</p>
                <p>yishdesign@163.com</p>
            </div>
            <div class="labc">
                <p>WeChat:</p>
                <p>xuyifanvan</p>
            </div>
            <div class="labc">
                <p>Address:</p>
                <p>上海市嘉定区江桥万达3号楼716</p>
            </div>
        </div>
        <div class="col-7 contact-map">
            <img src="{HOME_THEME_PATH}build/img/other/map.png" alt="">
        </div>

    </div>
</section>