<!-- section menu mobile -->
{template "logo.html"}
<ul class="menu-click navBox">
    <a href="#home" class="oka"><li href="#home">首页</li></a>
    <a href="#about-us" class="oka"><li href="#about-us">关于我们</li></a>
    <a href="#portfolio" class="oka"><li href="#portfolio">案例</li></a>
    <a href="#contact" class="oka"><li href="#contact">联系我们</li></a>
</ul>
<!-- section menu -->
<section class="menu navBox">
    <div class="menu-content">
        <div class="logo">
            YISH <i>design.</i>
        </div>
        <ul id="menu">
            <li><a href="#home" class="oka">首页</a></li>
            <li><a href="#about-us" class="oka">关于我们</a></li>
            <li><a href="#portfolio" class="oka">案例</a></li>
            <li><a href="#contact" class="oka">联系我们</a></li>
        </ul>
    </div>
</section>