<!-- section menu mobile -->
<section class="menu-media">
    <div class="menu-content">
        <div class="logo">
            YISH <i>design.</i>
        </div>
        <div class="icon">
            <a href="javascript:void(0);"><img src="{HOME_THEME_PATH}build/img/icons/menu-media.png" /></a>
        </div>
    </div>
</section>
<ul class="menu-click">
    <a href="#home"><li href="#home">首页</li></a>
    <a href="#about-us"><li href="#about-us">关于我们</li></a>
    <a href="#portfolio"><li href="#portfolio">案例</li></a>
    <a href="#contact"><li href="#contact">联系我们</li></a>
</ul>
<!-- section menu -->
<section class="menu">
    <div class="menu-content">
        <div class="logo">
            YISH <i>design.</i>
        </div>
        <ul id="menu">
            <li><a href="#home">首页</a></li>
            <li><a href="#about-us">联系我们</a></li>
            <li><a href="#portfolio">案例</a></li>
            <li><a href="#contact">联系我们</a></li>
        </ul>
    </div>
</section>