{template "head.html"}
<body>
{template "preload.html"}
{template "banner.html"}
<div class="app" id="app">
    <!--nav-->
    {template "nav.html"}
    <!--nav end-->
    <!--case show-->
    <section class="case-wrap" id="case-wrap" >
        <div class="case-desc-wrap m-auto">
            <h3 class="title">{$title}</h3>
            <div class="category" style="font-style:italic;">{dr_catpos($catid, '/',false)} </div>
            <div class="contents">
                {$content}
            </div>
            <div class="article_next" style="padding-top: 30px;text-align: right;padding-right: 10px;">
                {if $prev_page}<span class="fl" style="float: left">上一篇： <a href="{$prev_page.url}" title="{$prev_page.title}">{$prev_page.title}</a>{else}{/if}</span>
                {if $next_page}<span class="">下一篇： <a href="{$next_page.url}" title="{$next_page.title}">{$next_page.title}</a>{else}{/if}</span>
            </div>
        </div>
    </section>
    <section class="case-img-wrap">
        <div class="case-img m-auto">
            <div class="video-wrap">
                {$videos}
            </div>
            {loop $images $i $t}
                <div class="img-d">
                    <img class="lazy" src="{HOME_THEME_PATH}build/img/loading.svg" Lan="{dr_get_file($t.file)}" alt="{$t.title}-{$t.size}">
                </div>
            {/loop}

        </div>
    </section>
    <!--case show end-->
    <!--contact-->
    {template "contact.html"}
    <!--contact end-->
    {template "footer.html"}
</div>
<script src="{HOME_THEME_PATH}build/js/app.js?v20160505555fsss335"></script>
<script>
    (function () {
        D('html, body').stop().animate({ scrollTop: D("#case-wrap").offset().top-40 }, 500, function() {

        });
    })
</script>
</body>
</html>