{template "header.html"}
<div class="container">
    <!-- section start-page -->
    {template "banner.html"}
    {template "nav.html"}
    <div class="clear"></div>
    <!--case show-->
    <section class="case-wrap" id="case-wrap" >
        <div class="case-desc-wrap w9 m-auto">
            <h3 class="title">{$title}</h3>
            <div class="category">{dr_catpos($catid, '/',false)} </div>
            <div class="contents">
                {$content}
            </div>
        </div>
    </section>
    <section class="case-img-wrap">
        <div class="case-img w9 m-auto">
            {loop $images $i $t}
                <div class="img-d">
                    <img class="lazy" data-load="{dr_get_file($t.file)}" alt="{$t.title}">
                </div>
            {/loop}
        </div>
    </section>
    <!--case show end-->
    <div class="clear"></div>
    <!-- Contact-->
    {template "indexContact.html"}
    <div class="clear"></div>
    {template "footer.html"}
</div>
<script src="{HOME_THEME_PATH}build/js/app.js"></script>
</body>
</html>