<section class="portfolio" id="portfolio">
    <div class="portfolio-margin">
        <h1 class="title">案例</h1>
        <h1 class="title-en">WORKS</h1>
        <hr />
        <!-- 1 item portoflio-->
        <ul class="grid" id="case-index-data">
            {template "index_data.html"}
        </ul>

        <a href="javascript:void(0);" id="loadMoreData">
            <div class="read-more">
                Read more <div class="loaddata" style="display: none"><i></i></div>
            </div>

        </a>
    </div>
</section>
<style>

</style>